/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
mvn*
.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeansrequest.getHeader("X-
.sts4-cache
.

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
